#form{
    border: 2px solid;
    width: 300px;
    height: 300px;
    text-align: center;
}
img{
    width: 100px;
    height: 100px;

}
#form{
    
    margin: auto;
    justify-content: center;
}
.main{
    
    margin: auto;
}
input{
    width: 280px;
    height: 30px;
}
input:hover{
    background-color: antiquewhite;
}
body{
    background-color: aquamarine;
}
.login{
    background-color: antiquewhite;
    text-align: center;
}